{% extends "base.html" %}

{% block metatags %}
    <title>starCAT References</title>
    <meta name="description" content="List of starCAT references">
{% endblock %}

{% block contents %}

<div class="container">
    <div>
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{{url_for('bl_home.index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">References</li>
        </ol>
    </div>

    <h1>starCAT References</h1>
    <p class="lead">Available references for use with starCAT. If you use one of these references 
        in your own work, please cite the corresponding paper as well as the <a href="https://www.biorxiv.org/content/10.1101/2024.05.03.592310v1">starCAT paper</a></p>
    <div class="table-responsive">
        {{ table_html|safe }}
    </div>
</div>
{% endblock %}