{% extends "base.html" %}

{% block metatags %}
<title>Run | starCAT</title>
<style>
    #progress-container {
        width: 50%;
        background-color: #f3f3f3;
        border: 1px solid #ccc;
        margin-top: 20px;
        border-radius: 10px;
        overflow: hidden;
        display: none; /* Initially hidden */
    }
    #progress-bar {
        width: 0%; /* Start with 0% width */
        height: 30px;
        background-color: #B9C0F0;
        text-align: center;
        line-height: 30px;
        color: white;
        border-radius: 10px;
    }
</style>
<meta name="description" content="Run starCAT">
<script src="https://cdn.jsdelivr.net/pyodide/v0.26.2/full/pyodide.js"></script>
{% endblock %}

{% block contents %}
    <div class="container">
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{{url_for('bl_home.index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Run starCAT</li>
        </ol>

        <p class="lead">
            To run starCAT from the web browser, first <a href="{{url_for('bl_register.register')}}">register</a> and input your username and password.
            Then select a reference and upload your query data.
        </p>

        <form id="dataForm">
            <div class="form-group col-md-6">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" class="form-control" required>
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" class="form-control" required>
            </div>
            <a href="{{url_for('bl_starcat.reset_request')}}">Forgot password?</a>
            <br/><br/>
            <div class="form-group col-md-6">
                <label for="ref">Select a starCAT reference catalog:</label>
                <select name="ref" id="ref" class="form-control">
                    {% for ref in references %}
                    <option value="{{ ref }}" {% if ref == selected_ref %}selected{% endif %}>{{ ref }}</option>
                    {% endfor %}
                </select>
            </div>    
            <div class="form-group col-md-6">
                <label for="file">Upload your data in .h5ad format. Please ensure the file size is less than 2 GB.</label>
                <input type="file" name="file" id="file" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Upload</button>
        </form>
        <div id="progress-container">
            <div id="progress-bar">0%</div>
        </div>
        <div id="output"></div>
    </div>

<script type="text/javascript">
    // Define a function to update the progress bar
    window.updateProgress = function(percentage, message) {
        document.getElementById('progress-bar').style.width = percentage;
        document.getElementById('output').innerText += "\n" + message;
    }

    window.onload = async function() {
        try {
            console.log("Loading Pyodide...");
            document.getElementById('output').innerText = "Loading Pyodide...";
            let pyodide = await loadPyodide();
            console.log("Pyodide loaded successfully.");
            document.getElementById('output').innerText = "Pyodide loaded successfully.";

            console.log("Loading micropip package...");
            await pyodide.loadPackage("micropip");
            console.log("micropip loaded successfully.");
            document.getElementById('output').innerText += "\nmicropip loaded successfully.";

            const micropip = pyodide.pyimport("micropip");
            console.log("Installing micropip package...");
            document.getElementById('output').innerText += "\nInstalling starcatpy package...";

            try {
                console.log("Installing starcatpy package...");
                document.getElementById('output').innerText += "\nInstalling starcatpy package...";
                await micropip.install('starcatpy', keep_going=true);
                console.log("starcatpy installed successfully.");
                document.getElementById('output').innerText += "\nstarcatpy installed successfully.";
            } catch (error) {
                console.error("Failed to install starcatpy:", error);
                document.getElementById('output').innerText += "\nFailed to install starcatpy: " + error.message;
            }


            document.getElementById('dataForm').addEventListener('submit', function(event) {
                event.preventDefault();
                console.log("Form submitted, starting processing...");
                ref = document.getElementById('ref').value;
                fileInput = document.getElementById('file');
                file = fileInput.files[0];  // Get the file object
                base_url = window.location.origin;
                console.log("Selected Reference:", ref);
                if (file) {
                    console.log("File Name:", file.name);
                    console.log("File Size:", file.size, "bytes");
                } else {
                    console.log("No file selected");
                }

                console.log("Running starCAT");
                document.getElementById('output').innerText += "\nInitializing...";

                // Initialize/update progress bar
                document.getElementById('progress-container').style.display = 'block';
                document.getElementById('progress-bar').style.width = '25%';
                document.getElementById('progress-bar').textContent = 'Processing...';

                reader = new FileReader();
                reader.onload = async function(event) {
                    fileData = new Uint8Array(event.target.result);

                    pyodide.runPythonAsync(`
                        import starcat
                        import pandas as pd
                        import os
                        import io
                        from js import ref, base_url, fileData, updateProgress
                        from pyodide.http import pyfetch
                        import anndata
                        import zipfile


                        print('Loading adata file')
                        updateProgress('33%', 'Loading adata file.')
                        file_data = io.BytesIO(bytearray(fileData))
                        adata = anndata.read_h5ad(file_data)
                        print(adata)
                        print('File loaded successfully')

                        print('downloading selected reference: %s' % ref)
                        updateProgress('50%', 'Downloading selected reference: %s.' % ref)
                        ref_url = os.path.join(base_url, 'references/download/%s.tar.gz' % ref)
                        print('downloading ref data')
                        response = await pyfetch(ref_url)
                        tar_fn = '%s.tar.gz' % ref
                        with open(tar_fn, 'wb') as f:
                            f.write(await response.bytes())
                        print('reference downloaded successfully')

                        print('extracting tar')
                        updateProgress('60%', 'Extracting tar.')
                        starcat.decompress_tar('./%s.tar.gz' % ref, '.')
                        print('extracted successfully')

                        print('Running starCAT')
                        updateProgress('75%', 'Running starCAT.')
                        cat = starcat.starCAT(reference = ref, cachedir='.')
                        usage, scores = cat.fit_transform(adata)
                        print('starCAT completed successfully')

                        # Convert the first DataFrame to a CSV in memory
                        usage_buffer = io.BytesIO()
                        usage.to_csv(usage_buffer, sep='\t')
                        usage_buffer.seek(0)  # Rewind the buffer to the beginning
                        usage_bytes = usage_buffer.getvalue()

                        # Convert the second DataFrame to a CSV in memory
                        scores_buffer = io.BytesIO()
                        if scores is not None:
                            scores.to_csv(scores_buffer, sep='\t')
                        scores_buffer.seek(0)  # Rewind the buffer to the beginning
                        scores_bytes = scores_buffer.getvalue()

                        # Return both byte arrays to JavaScript
                        usage_bytes, scores_bytes


                    `).then(([usage_bytes, score_bytes]) => {
                        // Convert the first file's byte array to a Blob and trigger download
                        const usageBlob = new Blob([new Uint8Array(usage_bytes)], { type: 'text/tab-separated-values' });
                        const usageUrl = URL.createObjectURL(usageBlob);
                        const usageLink = document.createElement('a');
                        usageLink.href = usageUrl;
                        usageLink.download = 'starcat_results_usage.tsv';
                        document.body.appendChild(usageLink);
                        usageLink.click();
                        // URL.revokeObjectURL(usageUrl);  // Clean up

                        // Convert the second file's byte array to a Blob and trigger download
                        const scoreBlob = new Blob([new Uint8Array(score_bytes)], { type: 'text/tab-separated-values' });
                        const scoreUrl = URL.createObjectURL(scoreBlob);
                        const scoreLink = document.createElement('a');
                        scoreLink.href = scoreUrl;
                        scoreLink.download = 'starcat_results_scores.tsv';
                        document.body.appendChild(scoreLink);
                        scoreLink.click();
                        // URL.revokeObjectURL(scoreLink);  // Clean up

                        document.getElementById('progress-bar').style.width = '100%';
                        document.getElementById('progress-bar').textContent = 'Complete... downloading files.';
                        document.getElementById('output').innerHTML += `
                            <p>Complete. If files do not download automatically, you can download them manually:</p>
                            <ul>
                                <li><a href="${usageUrl}" download="starcat_results_usage.tsv">Download starcat_results_usage.tsv</a></li>
                                <li><a href="${scoreUrl}" download="starcat_results_scores.tsv">Download starcat_results_scores.tsv</a></li>
                            </ul>
                        `;

                        document.body.removeChild(usageLink);
                        document.body.removeChild(scoreLink);

                    });
                };
            reader.readAsArrayBuffer(file);
            })
        } catch (error) {
            console.error("An error occurred:", error);
            document.getElementById('output').innerText = "An error occurred: " + error.message;
            document.getElementById('progress-container').style.display = none;
        }
    }
</script>
{% endblock %}



