{% extends "base.html" %}

{% block metatags %}
<title>Run | starCAT</title>
<meta name="description" content="Run starCAT">
{% endblock %}

{% block contents %}
<div class="container">
    <div>
        <ol class="breadcrumb small">
            <li class="breadcrumb-item"><a href="{{url_for('bl_home.index')}}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Run starCAT</li>
        </ol>
    </div>

    <p class="lead">Select a starCAT reference catalog:<br></p>

    <!-- Combined form to handle reference selection and file upload -->
    <form action="{{ url_for('bl_starcat.runstarcat') }}" method="post" enctype="multipart/form-data">
        <div class="dropdown">
            <select name="ref" id="ref">
                {% for ref in references %}
                <option value="{{ ref }}" {% if ref == selected_ref %}selected{% endif %}>{{ ref }}</option>
                {% endfor %}
            </select>
        </div>    
        </p>
        <p class="lead">Upload your data in .h5ad format. Please ensure the file size is less than 2 GB.<br></p>
        <input type="file" name="file" required>
        <input type="submit" value="Upload">
    </form>
</div>
{% endblock %}