<!-- Fixed navbar -->
<nav class="navbar navbar-expand-md navbar-light fixed-top shadow-sm" style="background-color: #b9c0f0;">
    <div class="container-fluid">
        <a class="navbar-brand fw-bold" href="{{url_for('bl_home.index')}}">
            <img src="{{url_for('static', filename='images/StarcatLogo_20240529_Rotated3stars.png')}}" alt="" height="41" width="41" class="d-inline-block" style="position: relative;top: -2px;">
            starCAT
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link {{mc['home']}}" aria-current="page" href="{{url_for('bl_home.index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{mc['references']}}" href="{{url_for('bl_references.refspawn')}}">References</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{mc['starcat']}}" href="{{url_for('bl_starcat.runstarcat')}}">starCAT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{mc['login']}}" href="{{url_for('bl_login.login')}}">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
