{% extends "base.html" %}

{% block metatags %}
    <title>starCAT Login</title>
    <meta name="description" content="Login to use starCAT">
{% endblock %}

{% block contents %}
     <div class="container">
        <h2>Please login to use starCAT in the web browser:</h2>
        
        <div class="row">
            <div class="col-md-6">
                <form method="POST" action="{{ url_for('bl_login.login') }}">
                    {{ login_form.hidden_tag() }}
                    <div class="form-group">
                        {{ login_form.email.label }}
                        {{ login_form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ login_form.password.label }}
                        {{ login_form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ login_form.remember() }}
                        {{ login_form.remember.label }}
                    </div>
                    </p>
                    <button type="submit" name="login" class="btn btn-primary">Login</button>
                </form>
            </div>
        
        </p>
        <h2>If you haven't already, register below:</h2>

            
            <div class="col-md-6">
                <form method="POST" action="{{ url_for('bl_login.login') }}">
                    {{ registration_form.hidden_tag() }}
                    <div class="form-group">
                        {{ registration_form.email.label }}
                        {{ registration_form.email(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ registration_form.password.label }}
                        {{ registration_form.password(class="form-control") }}
                    </div>
                    <div class="form-group">
                        {{ registration_form.confirm_password.label }}
                        {{ registration_form.confirm_password(class="form-control") }}
                    </div>
                    </p>
                    <button type="submit" name="register" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}